report/
puzzles/
everybody_codes_*.txt
output.txt
output.*.txt

Makefile
timings.*.md
stats.md

README.template
join_ec_files.py
download_input.py

__pycache__
.python-version
*.egg-info/

.envrc
.vscode
